<% post.post_comments.each do |post_comment| %>
  <div class="media mb-2 pb-2 border-bottom">
    <%= image_tag post_comment.user.get_profile_image(60, 60), class: "align-self-start mt-3 rounded-circle"; %>
    <div class="media-body ml-3">
      <p class="mt-0 font-weight-bold">
        <% if user_signed_in? %>
          <%= link_to post_comment.user.name, user_path(post_comment.user) %>
        <% elsif admin_signed_in? %>
          <%= link_to post_comment.user.name, admin_user_path(post_comment.user) %>
        <% end %>
      </p>
      <p><%= post_comment.comment %></p>
      <p class="mb-0">
        <% if post_comment.user == current_user %>
          <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete, "data-confirm" => "本当に削除しますか？", class: 'btn btn-link btn-sm' %>
        <% end %>
      </p>
    </div>
  </div>
<% end %>