<% posts.each do |post| %>
  <div class="card mb-3" style="max-width: 1080px;">
    <div class="row no-gutters">
      <div class="col-md-3">
        <%= link_to post_path(post.id) do %>
          <div class="bd-placeholder-img card-img-top">
            <%= image_tag post.get_image_org, class: 'card-img-top', style: "height: 200px;object-fit: cover;" %>
          </div>
        <% end %>
      </div>
      <div class="col-md-9">
        <div class="card-header bg-transparent border-transparent">
          <div class="d-flex justify-content-between">
            <div>
              <%= render 'public/posts/rate', post: post %>
            </div>
            <p class="card-text text-right">
              <small class="text-muted">
                <%= I18n.localize post.created_at, format: :short %> |
                by <%= link_to post.user.name, user_path(post.user) %>
              </small>
            </p>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title wf-roundedmplus1c">
            <%= link_to post_path(post.id) do %>
              <%= post.item_name %>
            <% end %>
          </h5>
          <p class="card-text"><%= post.review %></p>
          <p class="card-text">
            <div class="d-flex justify-content-between">
              <small>
                タグ：
                <% post.tags.each do |tag| %>
                  <%= link_to tag.tag_name, search_path(content: tag.tag_name, model: "tag", method: "perfect"), class: 'mr-2' %>
                <% end %>
              </small>
              <small>
                <i class="fas fa-comment"></i> <%= render 'public/posts/comment_counter', post: post %> 
                <i class="fas fa-heart ml-2"></i> <%= post.favorites.count %>
              </small>
            </div>
          </p>
        </div>
      </div>
    </div>
  </div>
<% end %>