<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <h5 class="text-dark bg-light p-4 mb-0">レビューを書く</h5>
      <div class="form-body p-4">
        <%= form_with model: @post do |f| %>
          <%= f.file_field :image, accept: "image/*" %>
          
          <div class="field mb-3 mt-4">
            <%= f.label '名称' %><br>
            <%= f.text_field :item_name, placeholder: '例：　とうもろこし', class: 'form-control' %>
          </div>
          <div class="field mb-3">
            <%= f.label '生産者 又は 製造者' %>
            <%= f.text_field :produced_by, placeholder: '例：　〇〇農園', class: 'form-control' %>
          </div>
          <div class="field mb-3">
            <%= f.label '購入場所' %><br>
            <%= f.text_field :purchased_at, placeholder: '例：　道の駅〇〇', class: 'form-control' %>
          </div>
          <div class="input-group mb-3">
            <%= f.label 'レビュー' %><br>
            <%= f.text_area :review, placeholder: '例：　品種は「ゴールドラッシュ」。シンプルに茹でて食べました。甘くてみずみずしく、とても美味しかったです。', class: 'form-control' %>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fas fa-lock"></i>
              </span>
            </div>
            
            <%= f.text_field :tag_name, placeholder: 'スペースで区切る', class: 'form-control' %>
          </div>
          <%= f.submit "投稿する", class: 'btn btn-block btn-info mt-5' %>
          
        <% end %>
        <div class="text-center text-muted mt-4">
          
        </div>
      </div>
    </div>
  </div>
</div>


<h3>レビューを書く</h3>
<%= form_with model: @post do |f| %>
  <p><%= f.file_field :image, accept: "image/*" %></p>
  <p>名称：<%= f.text_field :item_name %></p>
  <p>生産者又は製造者：<%= f.text_field :produced_by %></p>
  <p>購入場所：<%= f.text_field :purchased_at %></p>
  <p>レビュー：<%= f.text_area :review %></p>
  <p>タグ：<%= f.text_field :tag_name, placeholder: 'スペースで区切る' %></p>
  
  <div id="post_raty">
    <label>オススメ度：</label>
    <%= f.hidden_field :rate %>
  </div>
  
  <script>
       let elem = document.querySelector('#post_raty');
         // scriptファイルをどのidの部分に配置するかを指定
       let opt = {  
         //星画像の指定などのオプションをここに記述,
         starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
          starHalf: "<%= asset_path('star-half.png') %>",
          scoreName: 'post[rate]'
        };
      raty(elem,opt);
  </script>
  
  <%= f.submit "投稿する" %>
<% end %>