<h3>レビューを書く</h3>
<%= form_with model: @post do |f| %>

  名称：<%= f.text_field :item_name %>
  生産者又は製造者：<%= f.text_field :produced_by %>
  購入場所：<%= f.text_field :purchased_at %>
  レビュー：<%= f.text_area :review %>
  
  <div id="post_raty">
    オススメ度：<%= f.hidden_field :rate %>
  </div>
  
  <script>
      $(document).raty({
      let elem = document.querySelector('#post_raty');
      elem.innerHTML = ""
      let opt = {  
          starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
          starHalf: "<%= asset_path('star-half.png') %>",
          scoreName: 'post[rate]',
        };
      raty(elem,opt);
     });
    </script>
  
  <%= f.submit "投稿する" %>
<% end %>