<h3>レビューを書く</h3>
<%= form_with model: @post do |f| %>
  <p><%= f.file_field :image, accept: "image/*" %></p>
  <p>名称：<%= f.text_field :item_name %></p>
  <p>生産者又は製造者：<%= f.text_field :produced_by %></p>
  <p>購入場所：<%= f.text_field :purchased_at %></p>
  <p>レビュー：<%= f.text_area :review %></p>
  <p>タグ：<%= f.text_field :tag_name, placeholder: '複数登録はカンマ（,）で区切る' %></p>
  
  <div id="post_raty">
    <label>オススメ度：</label>
    <%= f.hidden_field :rate %>
  </div>
  
  <script>
       let elem = document.querySelector('#post_raty');
         // scriptファイルをどのidの部分に配置するかを指定
       let opt = {  
         //星画像の指定などのオプションをここに記述,
         starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
          starHalf: "<%= asset_path('star-half.png') %>",
          scoreName: 'post[rate]'
        };
      raty(elem,opt);
  </script>
  
  <%= f.submit "投稿する" %>
<% end %>