<div>
  <%= image_tag @post.get_image(200, 200) %>
</div>
<p>名称：<%= @post.item_name %></p>
<p>作った人：<%= @post.produced_by %></p>
<p>購入場所：<%= @post.purchased_at %></p>
<p>レビュー：<%= @post.review %></p>
<div id="rate_<%= @post.id %>">
  <label>オススメ度：</label>
</div>
<script>
    let raty_<%= @post.id %> = document.querySelector('#rate_<%= @post.id %>');
        
    let option_<%= @post.id %> = {
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        score: '<%= @post.rate %>',
        readOnly: true,
      };
    raty(raty_<%= @post.id %>, option_<%= @post.id %>);
</script>

<div>
  <%= form_with model: [@post, @post_comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントを入力" %>
    <%= f.submit "送信" %>
  <% end %>
</div>

<div>
  <p>コメント件数：<%= @post.post_comments.count %></p>
  <% @post.post_comments.each do |post_comment| %>
    <p>
      <%= image_tag post_comment.user.get_profile_image(50, 50) %>
      <%= post_comment.user.name %>
    </p>
    <%= post_comment.comment %>
    <% if post_comment.user == current_user %>
      <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete %>
    <% end %>
  <% end %>
</div>