<p>名称：<%= @post.item_name %></p>
<p>作った人：<%= @post.produced_by %></p>
<p>購入場所：<%= @post.purchased_at %></p>
<p>レビュー：<%= @post.review %></p>
<div id="rate_<%= @post.id %>">
  <label>オススメ度：</label>
</div>
<script>
    let raty_<%= @post.id %> = document.querySelector('#rate_<%= @post.id %>');
        
    let option_<%= @post.id %> = {
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        score: '<%= @post.rate %>',
        readOnly: true,
      };
    raty(raty_<%= @post.id %>, option_<%= @post.id %>);
</script>