<div class="container my-5 mx-auto">
  <div class="row col-10 mx-auto mb-2 bg-light">
    <div>
      <%= image_tag @post.get_image(400, 400) %>
    </div>
    <div>
      <%= render 'public/posts/rate', post: @post %>
      <p>名称：<%= @post.item_name %></p>
      <p>作った人：<%= @post.produced_by %></p>
      <p>購入場所：<%= @post.purchased_at %></p>
      <p>レビュー：<%= @post.review %></p>
      <p>タグ：
        <% @post.tags.each do |tag| %>
          <%= tag.tag_name %>
        <% end %>
      </p>
    </div>
  </div>
  <div class="row col-10 mx-auto bg-light">
    <p>コメント：<%= render 'public/posts/comment_counter', post: @post %></p>
  </div>

  <div class="row col-10 mt-2 mx-auto bg-light">
    <%= render 'public/posts/comment_form', post: @post, post_comment: @post_comment %>
  </div>
  <div class="row col-10 mt-2 mx-auto bg-light">
    <%= render 'public/posts/comment', post: @post %>
  </div>
</div>





