<h3>"<%= @content %>"の検索結果</h3>

<% @records.each do |post| %>
  <%= post.item_name %>
  <%= post.produced_by %>
  <%= post.purchased_at %>
  <%= post.review %>
  <% post.tags.each do |tag| %>
    <%= tag.tag_name %>
  <% end %>
<% end %>