<div>
  <%= flash[:notice] %>
</div>

<h1>top page</h1>

<% @posts.each do |post| %>
  <%= image_tag post.get_image(200, 200) %>
  <%= post.item_name %>
  <%= render 'public/posts/rate', post: post %>
<% end %>

<%= paginate @posts %>