<h1>投稿詳細画面</h1>
<div class="container my-5 mx-auto">
  <div class="d-flex col-11 mx-auto">
    <div class="col-4">
      <h3><%= @post.item_name %></h3>
      <%= image_tag @post.get_image(400, 400) %>
      <p>by <%= @post.user.name %></p>
    </div>
    <div class="col-7 ml-3">
      <%= render 'public/posts/rate', post: @post %>
      <table class="table mt-3">
        <tr>
          <th style="width: 30%">つくった人</th>
          <td style="width: 70%"><%= @post.produced_by %></td>
        </tr>
        <tr>
          <th>購入場所</th>
          <td><%= @post.purchased_at %></td>
        </tr>
        <tr>
          <th>レビュー</th>
          <td><%= @post.review %></td>
        </tr>
        <tr>
          <th>タグ</th>
          <td class="d-flex flex-wrap">
            <% @post.tags.each do |tag| %>
              <li style="list-style: none;", class="mr-3"><%= tag.tag_name %></li>
            <% end %>
          </td>
        </tr>
        <tr>
          <th></th>
          <td class="text-right">
            <%= link_to "削除", admin_post_path(@post), method: :delete, "data-confirm" => "本当に削除しますか？", class: 'btn btn-danger' %>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row col-11 mx-auto pl-4 bg-light">
    コメント：<%= render 'public/posts/comment_counter', post: @post %>
  </div>
  <div class="row col-11 mt-2 mx-auto pl-4 bg-light">
    
  </div>
  <div class="d-flex flex-column col-11 mt-2 mx-auto pl-4 bg-light">
    <%= render 'public/posts/comment', post: @post %>
  </div>
</div>