<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto text-center shadow-lg rounded px-0 my-5">
      <h5 class="text-dark bg-light py-4 mb-0">新規会員登録</h5>
      <div class="form-body p-4">
        <div class="mx-auto text-center">
          <p></p>
        </div>
        <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user' do |f| %>
          <%= render "public/shared/error_messages", resource: resource %>
        
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fas fa-user"></i>
              </span>
            </div>
            <%= f.text_field :name, placeholder: "ユーザーネーム", autofocus: true, class: 'form-control' %>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fas fa-envelope"></i>
              </span>
            </div>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: 'form-control' %>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fas fa-lock"></i>
              </span>
            </div>
            <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード（6字以上）", class: 'form-control' %>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fas fa-check-circle"></i>
              </span>
            </div>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード（確認用）", class: 'form-control' %>
          </div>
          <%= f.submit "新規登録", class: 'btn btn-block btn-info mt-5' %>
        
        <% end %>
        <div class="text-center text-muted mt-4">
          <%= render "public/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>