<div class="container">
  <h3 class="my-5">ユーザー一覧</h3>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>ID</th>
        <th>ユーザーネーム</th>
        <th>メールアドレス</th>
        <th>登録年月日</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%= image_tag user.get_profile_image(60, 60) %></td>
        <td class="align-middle"><%= user.id %></td>
        <td class="align-middle"><%= link_to user.name, admin_user_path(user) %></td>
        <td class="align-middle"><%= user.email %></td>
        <td class="align-middle"><%= user.created_at.strftime('%Y/%m/%d') %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>