<div>
  <%= flash[:notice] %>
</div>

<h3>マイページ</h3>

<div>
  <%= image_tag @user.get_profile_image(200, 200) %>
  <p>email:<%= @user.email %></p>
  <p>name:<%= @user.name %></p>
  <p>introduction:<%= @user.introduction %></p>
</div>

<% if @user == current_user && @user.name != "guestuser" %>
  <%= link_to "登録情報変更", edit_user_path(@user) %>
<% end %>