<!DOCTYPE html>
<html>
  <head>
    <title>Tokanavi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="" rel="stylesheet">
  </head>

  <body>
    <%= render 'layouts/header' %>
      <main class="my-3 mx-3">
        <div class="my-3 text-warning">
          <%= flash[:notice] %>
        </div>
        <div class="text-right">
          <% if user_signed_in? %>
            <p>こんにちは、<%= current_user.name %> さん</p>
          <% end %>
        </div>
        <div class="text-right">
          <!--< render 'public/searches/form' %>-->
          <%= render 'public/searches/tag_form' %>  
        </div>
        
        <%= yield %>
      </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
